/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Sedgwick Ave', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Acme', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Rajdhani', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Handlee', cursive;
font-family: 'Charmonman', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Marmelad', sans-serif;
font-family: 'Syncopate', sans-serif;
font-family: 'Cedarville Cursive', cursive;
font-family: 'Nanum Brush Script', cursive;
font-family: 'Annie Use Your Telescope', cursive;
font-family: 'Calligraffitti', cursive; */

* {
  box-sizing: border-box;
}

body {
  width: 960px;
  font-family: 'Calligraffitti', cursive;
}

#photo-template {
display:none;
}

h1 {
  width: 100%;
  margin: auto;
}

section {
  float:left;
  width: 25%;
}
img {
  width: 100%;
  height: 250px;
}
footer {
  float: right;
}
button{
  background-color: blue;
  color: white;
}