/* font-family: 'Oswald', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Amatic SC', cursive; */

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  margin:auto;
  /* rainbow animation - modified from here https://codepen.io/P1N2O/pen/pyBNzX */
  height: 100%;
	color: rgb(255, 255, 255);
	background: linear-gradient(-45deg, rgb(235, 169, 149), rgb(214, 154, 176), rgb(181, 233, 250), rgb(197, 255, 241));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	/* -moz-animation: Gradient 15s ease infinite; */
  animation: Gradient 15s ease infinite;
  display: flex;
  flex-direction: row;
}

/* Rainbow Animation - see inside body for source */
@-webkit-keyframes Gradient { /*same gradient code but for diff browsers*/
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@-moz-keyframes Gradient { /*same gradient code but for diff browsers*/
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@keyframes Gradient { /*same gradient code but for diff browsers*/
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

header {
  margin: 3%;
}
h1 {
  width: 100%;
  margin: auto;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
  margin: 5% 0 5% 0;
  color: white;
  font-family: 'Amatic SC', cursive; */
}

#filter-options {
  border: 3px solid white;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin: 30px 0;
  width: 250px;
  justify-content: center;
}

nav {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  flex-direction: column;
  height: 8%;
}


h2 {
font-size: 45px;
text-align: center;
/* margin: auto; */
padding: 10px;
font-weight: bolder;
height: 110px;
}

main {
  display: flex;
  align-content: space-around;
  flex-flow: wrap;
}
section {
  /* float: left; */
  font-family: 'Amatic SC', cursive;
  width: 23%;
  height: 600px;
  margin: 1%;
  background: linear-gradient(-45deg, rgb(233, 56, 3), #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 2s ease infinite;
	/* -moz-animation: Gradient 15s ease infinite; */
	animation: Gradient 5s ease infinite;
  /* display: flex;
  align-items: center;
  flex-direction: row; */
  border: 3px solid white;
  align-items: center;
  align-content: space-evenly;
  flex-flow: wrap;
  flex-direction: column;
}
img {
  width: 80%;
  height: 60%;
  margin: 0 10% 0 10%;
  display: flex;
  background-color: white;
  justify-content: center;
  border: 3px solid white;
}

p{
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  font-size: 25px;
  margin: 5%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-self: center;
}

footer {
  display: flex;
  width: 100%;
}
button{
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 2s ease infinite;
	/* -moz-animation: Gradient 15s ease infinite; */
	animation: Gradient 5s ease infinite;
  padding: 10px 15px;
  font-size: 50px;
  color: white;
  border: 3px solid white;
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
}